body {
  display: flex;
  justify-content: center;
  align-items: center; /* Menengahkan vertikal jika diperlukan */
  margin: 0;
  background-image: url("/asset-user/img/sapiens.png"); /* Menyesuaikan ukuran gambar dengan ukuran layar */
  background-size: 65% ; /* Mengatur ukuran gambar latar belakang */
  border-radius: 50px;
  background-repeat: no-repeat; /* Mencegah pengulangan gambar */
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.dark-mode {
    background-color: #1c1c1c;
    
}


.container {
  max-width: 350px;
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  filter: drop-shadow(1px 1px 20px rgba(36, 36, 36, 0.974) );
}

  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
   
  }
  
  .form {
    margin-top: 20px;
  }
  .form-control{
    border-radius: 30px;
    border-inline: 2px solid transparent;
    width: 100%;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    text-align: center;
  }
  
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }
  
  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .form .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
  }
  
  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(222, 226, 227, 0.878) 0px 23px 10px -20px;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  
 
  .Btn {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    margin: 20px auto;
    border-radius: 20px;
  }
  
  .Btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  
  }
  
  .Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .Btn:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 25px;
  border: 40px solid white;
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
  outline: none;
  

}

.input:focus {
  border-color: 4793AF; 
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); 
  outline: none; 
}

.invalid-feedback {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}
